{% extends "base.html" %}

{% block title %}
    About Cats Next Door
{% endblock title %}


{% block content %}
<br />
<h2>Our Story</h2>
<br />
<p>Several years ago, I stumbled upon a sweet, black
	kitty named Daphne. She was one of the most
	popular cats in the neighborhood; she'd see you 
	and slip right through the rod-iron gates to say
	hello. She was well known among the locals, and 
	she never strayed farm from her humble abode.</p>
<p>It turned out that Daphne was no ordinary kitty:
	she was cat royalty. One day, she pledged her paw
	to the Dauphin of Colorado, Prince Eduard III, 
	Duke of the Rockies. The two were to be
	betrothed, and this caused great alarm in the 
	surrounding regions. No longer would her majesty
	grace the company of the local citizens.</p>
<p>A notice was posted so that all locals could pay
	their respects before her long journey to the
	Rockies. Many came to honor her majesty and
	bid her a heartfelt farewell.</p>
<p>In her honor, we created this site to bring
	the joy and memory of all our favorite Next
Door Cats.</p>

<br />
<br />
<img src="/static/images/daphne.png" alt="Daphne, Queen of Scots, the royal cat of Berkeley" style="max-width:200px">
<br />
<br />
<br />
<br />

<footer>This website was brought to you by <strong>magic</strong>.</footer>

{% endblock content %}


