{% extends "base.html" %}

{% block title %}Next Door Cats: View{% endblock %}
{% block nav_feed_class %}active{% endblock %}

{% block content %}

<h2>Here are some cool cats to check out:</h2>
<h5>All local, free-range, organic.</h5>
<br />
<h3>Recent Cat Additions</h3>

{% for catpost in catposts %}
    <hr />
    <h5><strong>Name:</strong> {{ CatPost.name }}</h5>
    	<h4><strong>Neighborhood:</strong> {{ CatPost.neighborhood }}</h4>

{% endfor %}
<br />




<hr />


{% endblock content %}



