{% extends "base.html" %}

{% block title %}Next Door Cats: View{% endblock %}
{% block nav_feed_class %}active{% endblock %}

{% block content %}

<h2>Here are some cool cats to check out:</h2>
<h5>All local, free-range, organic.</h5>
<br />
<h3>Recent Cat Additions</h3>

{% for catpost in all_cats %}
    <hr />
    <h3><strong>Name:</strong> {{ catpost.catname }}</h5>
    <h5><strong>Neighborhood:</strong> {{ catpost.neighborhood }}</h4>
    <h5><strong>About:</strong> {{ catpost.text }}</h4>
    <image src="{{ catpost.image }} " style="max-width:200px">

{% endfor %}
<br />




<hr />


{% endblock content %}



